@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
}

header {
	padding:0px;
	margin:0px;
	width:100%;
	height:auto;
}

h1 {
	font-family: Impact, sans-serif;
	color:#292756;
	margin-bottom:20px;
	align:center;
	font-family:'Montserrat', Helvetica, sans-serif;
}

h2 {
	font-family:Impact, sans-serif;
	color:#4958a0;
}

h3 {
	font-family:Impact, sans-serif;
	color:#887777;
}

p {
	font-family:helvetica, sans-serif;
	width:100%;
	display:block;
	font-family:'Montserrat', Helvetica, sans-serif;
	font-color:;
}

a {
	color:#900000;
	text-decoration:none;
}

a:hover {
	color:blue;
	text-decoration:normal;
}

ul {
	font-family:helvetica, sans-serif;
	list-style-type: none;
	padding:0px;
	margin:0px;
}

.navbar {
	width:100%;
	height:40px;
	font-size:20px;
	font-family:'Montserrat', Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	background-color: #366ED4;
	position:fixed;
	bottom:0;
}

.navbar ul {
	padding-top:9px;
}

.navbar li {
	display:inline;
	padding:40px 40px;
}

.navbar a {
	text-decoration: none;
	color:black;
}

.navbar a:hover {
	background-color:#FFF;
}

.body {
	margin-left:40px;
	padding-right:80px;
}

.work {
	height:100px;
	width:80px;
	border: solid 1px;
	background-color:yellow;
	text-align:center;
}